body {
	font-family: arial, helvetica;
	background-color: #ddd;
	background: #ddd url(/static/img/logo.png) center top no-repeat;
}

header, #page, footer {
	width: 800px;
	margin: 0 auto;
}

#messagebox {
	display:none;
}

#log {
	height: 400px;
	background-color: white;
	padding: 1em;
	margin-top: 1em;
	overflow-y: auto;
	width: 75%;
	float:left;
}

#userlist,
#messageslist {
	width: 20%;
	float: right;
	margin-top: 1em;
	font-size: 0.8em;
}

#userlist ul,
#messageslist ul {
	list-style: none;
	padding-left: 0;
}

#userlist ul img {
	vertical-align: middle;
	width: 16px;
	height: 16px;
}

#reset {
	vertical-align: middle;
	cursor: pointer;
}

#log .system {
	font-style: italic;
	color: #888;
	font-size: 0.9em;
}

.message_time_increment {
	font-size: 0.8em;
	padding: 0 0.3em;

}

label {
	font-size:0.7em;
	color: #888;
	display: block;
	margin-top: 1em;
}
footer {
	font-size: 0.7em;
	margin-top: 2em;
	color: #888;
	text-align: center;
}
.cleaner {
	clear: both;
	font-size: 1px;
	height: 0;
	visibility: hidden;
	overflow: hidden;
}